<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>WebThietBiBep</display-name>

  <context-param>
    <param-name>groqApiKey</param-name>
    <param-value>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</param-value>
  </context-param>
</web-app>